<!DOCTYPE html>
<html lang="id" class="scroll-smooth">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{{ await $slots.title?.() ?? 'njin' }}}</title>
  {{{ await vite.asset('src/client/main.ts') }}}
</head>
<body class="bg-slate-950 text-slate-100 antialiased">
  {{{ await $slots.main() }}}
</body>
</html>
